<%-include("partials/header")  %>
<h1>Home</h1>
<p><%= homeContent %> </p>

<% posts.forEach(post => { %>
<a class="text-reset" href="/posts/<%=lodash.kebabCase(post.title)%>">
  <h2><%= lodash.capitalize(lodash.lowerCase(post.title)) %></h2>
  <p><%= `${post.body.slice(0, 350)}...` %></p></a>
<% }) %>

<%-include("partials/footer")  %>
